/* Sticky Ads - BEGIN */

.stickytop {
    margin-top: 0px;
    margin-bottom: 0px;
    top: 0px;
    left: 50%;
    position: fixed;
    z-index: 9999;
    transform: translate(-50%, 0);
}

.stickybottom {
    margin-top: 0px;
    margin-bottom: 0px;
    bottom: 0px;
    left: 50%;
    position: fixed;
    z-index: 9999;
    transform: translate(-50%, 0);
}

.stickyleft {
    margin-top: 0px;
    margin-bottom: 0px;
    top: 50%;
    left: 0px;
    position: fixed;
    z-index: 9999;
    transform: translate(0, -50%);
}

.stickyright {
    margin-top: 0px;
    margin-bottom: 0px;
    top: 50%;
    right: 0px;
    position: fixed;
    z-index: 9999;
    transform: translate(0, -50%);
}

.stickyheader {
    margin-top: 0px;
    margin-bottom: 0px;
    display: block;
}

.stickyminimize {
    margin-top: 0px;
    margin-bottom: 0px;
    visibility: visible;
}

.stickyclose {
    margin-top: 0px;
    margin-bottom: 0px;
    visibility: visible;
}

#stickybottomContent span table tbody tr td img,
#stickytopContent span table tbody tr td img {
    max-height: 30vh;
}

#stickyleftContent span table tbody tr td img,
#stickyrightContent span table tbody tr td img {
    max-width: 20vw;
}


/* Sticky Ads - END */
