.t1{text-decoration: underline;; cursor:pointer;}
.t2{text-decoration: none;; cursor:pointer;}
.t3{text-decoration: underline;; cursor:pointer;}
.t4{text-decoration: underline;; cursor:pointer;}

